
@font-face {
    font-family: "Samsung InterFace";
    src: url('../fonts/556030274-SamsungIF_Rg.eot');
    src: url('../fonts/556030274-SamsungIF_Rg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/556030274-SamsungIF_Rg.svg#Samsung InterFace') format('svg'),
    url('../fonts/556030274-SamsungIF_Rg.woff') format('woff'),
    url('../fonts/556030274-SamsungIF_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "SamsungInterFace-Bold";
    src: url('../fonts/SamsungInterFace-Bold.eot');
    src: url('../fonts/SamsungInterFace-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SamsungInterFace-Bold.woff') format('woff'), 
         url('../fonts/SamsungInterFace-Bold.ttf')  format('truetype'),
         url('../fonts/SamsungInterFace-Bold.svg#SamsungInterFace-Bold') format('svg');
}

@font-face {
    font-family: "lucida_sansregular";
    src: url('../fonts/lucida-sansR.eot');
    src: url('../fonts/lucida-sansR.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida-sansR.woff') format('woff'),
         url('../fonts/lucida-sansR.ttf') format('truetype'),
         url('../fonts/lucida-sansR.svg#lucida_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "pfsquaresanspro-light";
    src: url('../fonts/pfsquaresanspro-light-webfont.eot');
    src: url('../fonts/pfsquaresanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfsquaresanspro-light-webfont.svg#helveticaneueltstd') format('svg'),
    url('../fonts/pfsquaresanspro-light-webfont.woff') format('woff'),
    url('../fonts/pfsquaresanspro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pfsquaresanspro-regular";
    src: url('../fonts/pfsquaresanspro-regular-webfont.eot');
    src: url('../fonts/pfsquaresanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfsquaresanspro-regular-webfont.svg#helveticaneueltstd') format('svg'),
    url('../fonts/pfsquaresanspro-regular-webfont.woff') format('woff'),
    url('../fonts/pfsquaresanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}